form {
    background-color: rgb(88, 197, 88);
    width: 400px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px;
}

ul{
    list-style: none;
}

li{
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

li>input , li>select, li>textarea{
    margin-left: 10px;
    width: 200px;
}


li> input[type="radio"]
{
   width: 10px;
}
    

#btn{
width: 160px;
border-radius: 10px;
background-color: violet;
height: 40px;
border-style: groove;
box-shadow: 3px 3px 3px 3px;
margin-bottom: 10px;
}

#libtn{
    background-color:rgb(88, 197, 88); 
    text-align: center;
}

nav>ul>li{
    display: inline-block;
    padding: 10px;
    background-color: blue;
    color: white;
}
nav>ul>li:hover{
    background-color: green;
}
nav{
    background-color: yellow;
    text-align: center;
    
}
a{
   text-decoration: none;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}

nav:hover
{
    background-color: wheat;
    transform: rotate(360deg);
    transition: all 5s;
    
}

input:focus
{
    transform: scale(2,2);
}
